<h1>Estados</h1>

<?php $this->mensagem(); ?>

<p><a class="btn btn-success" href="<?php echo $this->url(array('action' => 'create')); ?>">Adicionar <i class="icon-pencil"></i></a></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>Nome</td>
      <td>UF</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
      <?php foreach ($this->estados as $estados) { ?>
        <tr>
          <td><?php echo $estados['idestados']; ?></td>
          <td><?php echo $estados['nome']; ?></td>
          <td><?php echo $estados['uf']; ?></td>
          <td>
            <a class="btn btn-info" href="<?php echo $this->url(array('action' => 'update', 'idestado' => $estados['idestados'])); ?>">Editar <i class="icon-edit"></i></a>
            <a class="btn btn-danger" href="<?php echo $this->url(array('action' => 'delete', 'idestado' => $estados['idestados'])); ?>">Apagar <i class="icon-trash"></i></a>
          </td>
        </tr>
    <?php } ?>
  </tbody>
</table>