<h1>Posts</h1>

<ul class="nav nav-tabs nav-stacked">
    <?php foreach ($this->posts as $post) { ?>
      <li>
        <a href="<?php echo $this->url(array('action' => 'post', 'idpost' => $post['idpost'])); ?>"><?php echo $post['categoria']; ?>/<?php echo $post['titulo']; ?></a>
      </li>
  <?php } ?>
</ul>