<ul>
	<li>ID: <?php echo $this->id?></li>
	<?php if($this->nome != ""):?>
		<li>Nome: <?php echo $this->nome?></li>
	<?php endif;?>
	<?php if(isset($this->idade)):?>
		<li>Idade: <?php echo $this->idade;?></li>
	<?php endif;?>
</ul>