<?php


function submenu($submenu){
	echo '<ul class="dropdown-menu">';
	foreach ($submenu->pages as $subpage){
		$dropdownSub = !empty($subpage->pages);
		if ($dropdownSub){
			echo '<li class="dropdown-submenu '.($subpage->isActive() ? ' active ' : '').'">';
			echo 	'<a href="'.$subpage->getHref().'">'.$subpage->getLabel().'</a>';
			submenu($subpage);
			echo '</li>';
		}else{
			echo '<li class="'.($subpage->isActive() ? ' active ' : '').'">';
			echo 	'<a href="'.$subpage->getHref().'">'.$subpage->getLabel().'</a>';
			echo '</li>';
		}
	}
	echo '</ul>';
}

echo '<div class="navbar navbar-inverse navbar-fixed-top" style="top:45px;z-index:1">';
echo '    <div class="navbar-inner">';
echo '      <div class="container">';
echo '			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">';
echo '				<span class="icon-bar"></span>';
echo '				<span class="icon-bar"></span>';
echo '				<span class="icon-bar"></span>';
echo '			</button>';
echo '			<div class="nav-collapse collapse">';
echo '        		<ul class="nav">';
foreach ($this->container as $page) {
	$dropdown = !empty($page->pages);
	
	$onclick = "onclick='javascrip:location.href=\"".$page->getHref()."\"'";

	if ($dropdown){
		echo '			<li class="dropdown '.($page->isActive() ? ' active ' : '').'">';
		echo '				<a '.$onclick.' href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000"  data-close-others="true">'.$page->getLabel().' <i class="caret"></i></a>';
		submenu($page);
		echo '			</li>';
	}else{
		echo '			<li class="'.($page->isActive() ? ' active ' : '').'">';
		echo '				<a href="'.$page->getHref().'">'.$page->getLabel().'</a>';
		echo '			</li>';
	}
	
}
echo '				</ul>';
echo '			</div>';
echo '		</div>';
echo '	</div>';
echo '</div>';