<h1>Categorias</h1>

<?php $this->mensagem(); ?>

<p><a class="btn btn-success" href="<?php echo $this->url(array('action' => 'create')); ?>">Adicionar <i class="icon-pencil"></i></a></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>Categoria</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
      <?php foreach ($this->categorias as $categoria) { ?>
        <tr>
          <td><?php echo $categoria['idcategoria']; ?></td>
          <td><?php echo $categoria['categoria']; ?></td>
          <td>
            <a class="btn btn-info" href="<?php echo $this->url(array('action' => 'update', 'idcategoria' => $categoria['idcategoria'])); ?>">Editar <i class="icon-edit"></i></a>
            <a class="btn btn-danger" href="<?php echo $this->url(array('action' => 'delete', 'idcategoria' => $categoria['idcategoria'])); ?>">Apagar <i class="icon-trash"></i></a>
          </td>
        </tr>
    <?php } ?>
  </tbody>
</table>