<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <base href="<?php echo $this->baseUrl(); ?>" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <?php 
  	$this->navigation()->menu()->setPartial('partials/horizontal.phtml');
  	echo $this->navigation()->menu()->render();
	?>
	<br /><br /><br />
    
    <div class="container-fluid" id="content">
    	<ul class="breadcrumb" id="breadcrumb">><?php
	      echo $this->navigation()->breadcrumbs()
	              ->setMinDepth(null) // start at level 0
	              ->setMaxDepth(1) // stop at level 1
	              ->setSeparator('&raquo;')
	      ;
	      ?>
	    </ul>
    	<?php echo $this->layout()->content ?>
    </div>
  </body>

</html>