<h1>Cidades</h1>

<?php $this->mensagem(); ?>

<p><a class="btn btn-success" href="<?php echo $this->url(array('action' => 'create')); ?>">Cadastrar</a></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>Nome</td>
      <td>Estado</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
      <?php foreach ($this->cidades as $cidades) { ?>
        <tr>
          <td><?php echo $cidades['id']; ?></td>
          <td><?php echo $cidades['descricao']; ?></td>
          <td><?php echo $cidades['nome']; ?></td>
          <td>
            <a class="btn btn-info" href="<?php echo $this->url(array('action' => 'update', 'id' => $cidades['id'])); ?>">Editar <i class="icon-edit"></i></a>
            <a class="btn btn-danger" href="<?php echo $this->url(array('action' => 'delete', 'id' => $cidades['id'])); ?>">Apagar <i class="icon-trash"></i></a>
          </td>
        </tr>
    <?php } ?>
  </tbody>
</table>
