<h1>Posts</h1>

<?php $this->mensagem(); ?>

<p><a class="btn btn-success" href="<?php echo $this->url(array('action' => 'create')); ?>">Cadastrar</a></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>Categoria</td>
      <td>Titulo</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
      <?php foreach ($this->posts as $post) { ?>
        <tr>
          <td><?php echo $post['idpost']; ?></td>
          <td><?php echo $post['categoria']; ?></td>
          <td><?php echo $post['titulo']; ?></td>
          <td>
            <a class="btn btn-info" href="<?php echo $this->url(array('action' => 'update', 'idpost' => $post['idpost'])); ?>">Editar <i class="icon-edit"></i></a>
            <?php if ($this->podeApagar) { ?><a class="btn btn-danger" href="<?php echo $this->url(array('action' => 'delete', 'idpost' => $post['idpost'])); ?>">Apagar <i class="icon-trash"></i></a><?php } ?>
          </td>
        </tr>
    <?php } ?>
  </tbody>
</table>
